.custom-toast {
    border-radius: 8px;
    font-size: 0.9rem;
    word-wrap: break-word;
    max-width: 400px;
}

.custom-toast-body {
    font-size: 0.9rem;
    line-height: 1.5;
    min-height: unset !important;

}

/* override toast min-height */
.Toastify__toast {
    min-height:50px !important;
    padding: 7px !important;
}

@media (max-width: 600px) {
    .custom-toast {
        font-size: 0.75rem;
        min-height: 45px;
        max-width: 240px;
        margin: 15px 10px 0px 0px;

    }

    .custom-toast-body {
        font-size: 0.75rem;
        line-height: 1.2;
    }
}


@media (min-width: 601px) and (max-width: 1199px) {
    .custom-toast {
        font-size: 0.9rem;
        max-width: 260px;
        min-height: 45px;
    }

    .custom-toast-body {
        font-size: 0.9rem;
    }
}


@media (min-width: 1200px) {
    .custom-toast {
        font-size: 1rem;
        max-width: 320px;
        min-height: 45px;
    }

    .custom-toast-body {
        font-size: 1rem;
    }
}